// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~@sweetalert2/theme-dark/dark.scss';

$background-color: #0d1117;
$secondary-color: #161b22;

body {
    color: white;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

#app {
    background-color: $background-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.card {
    background-color: $secondary-color;

    @media (min-width: 768px) {
        min-height: 100%;
    }

    .card-footer {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.modal-content {
    background-color: $secondary-color;

    .modal-header {
        border: 0;
    }
}

.logo {
    width: 10em;

    @media (max-width: 400px) {
        display: none;
    }
}

.text-logo {
    @media (min-width: 401px) {
        display: none;
    }
}

.fill-page {
    max-height: 85vh;
}

textarea, input, select {
    color: white !important;
    background-color: $secondary-color !important;
    border-color: rgba(0, 0, 0, 0.5) !important;
}
